# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/git
env/

# Cache directories
.cache/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

test.py
todo.txt
supabase/migrations/